<!DOCTYPE html>
<html>
  <head>
    <title>SkinnyRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if flash[:slug].present? %>
      <p class='shortened-link'>
        The shortened url is available <%= link_to 'here',
         url_url(flash[:slug]) %>.
        (Right click and copy link to share it).
      </p>
    <% end %>
    <%= yield %>
  </body>
</html>
